<mat-accordion>
  <mat-expansion-panel *ngFor="let mail of mailList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-chip-list>
          <mat-chip class="pointer-cursor"
                    color="primary"
                    selected="true"
                    *ngFor="let item of mail.from.value"
                    [routerLink]=" ['../out'] "
                    [queryParams]="{to: item.address}"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
            {{item.address}}
          </mat-chip>
        </mat-chip-list>
      </mat-panel-title>
      <mat-panel-description style="flex-grow: 10">
        <div style="width: 100%; display: flex;justify-content: space-between">
          <div class="content" style="flex: 1; width: 0;line-height: 32px;">
            <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
              {{mail.subject}} - {{mail.text}}
            </div>
          </div>

          <div class="time">
            <mat-chip> {{mail.date | date : 'yy/MM/dd HH:mm:ss'}}</mat-chip>
          </div>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div [innerHTML]="mail.html | mySafeHtml"></div>
  </mat-expansion-panel>
</mat-accordion>