/* notification bar*/
.notification-bar {
  width: 100%;
  position: fixed;
  z-index: 10000;
  overflow: scroll;
  text-align: center;
  display: block;
  overflow: visible;
  pointer-events: none;
  /*beginning: notification pop up animation */
  /*full hidden state*/
  /*full visible state*/
}
.notification-bar button:focus {
  outline: none;
}
.notification-bar .alert {
  height: 55px;
  position: relative;
  float: none;
  pointer-events: auto;
}
.notification-bar .alert .message {
  vertical-align: middle;
  display: table-cell;
}
.notification-bar .alert.ng-enter,
.notification-bar .alert.ng-leave {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.notification-bar .alert.ng-enter,
.notification-bar .alert.ng-leave.ng-leave-active {
  margin-top: -75px;
  opacity: 0;
}
.notification-bar .alert.ng-leave,
.notification-bar .alert.ng-enter.ng-enter-active {
  margin-top: 0;
  opacity: 1;
}
